body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    margin: 10px;
    height: 50px;
}

article {
    color: #ebebeb;
    background: #777;
    width: 95%;
    text-align: center;
    margin: 0 2.5%;
    height: 130px;
}

aside {
    float: left;
    position: relative;
    width: 425px;
    height: 175px;
}

h1, p {
    color: #777;
    background: #ebebeb;
}

section {
    width: 495px;
    float: left;
    height: 175px;
}

.clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }